.page-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr ;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	grid-template-areas:
	"h h h h"
	"b b c c"
	"e e f f"
	"d d d d";

}
.div1 { 
grid-area:h ;
background-color: blue;
padding-top: 50px;
height: auto;
}
.div2 { 
grid-area:b; 
background-color: chocolate;	
padding: 10px;
	}
.div3 { 
grid-area:c; 
background-color: rgb(255, 8, 222);
}
.div4 { 
	grid-area:d; 
	background-color: cadetblue;
	}
.div5 { 
	grid-area:e; 
	background-color: rgb(228, 21, 70);
	}

.div6 { 
	grid-area:f; 
	background-color: rgb(239, 228, 22);
	}


body {
	margin-left: 100px;
	margin-right: 100px;
}




	.c-image {
		height: 200px;
		width: 200px;
		border-radius: 50%;
		margin-left: 30px;

	}

	.d-image {
		height: 20px;
		width: 20px;
		vertical-align: middle;
	}

	.contect-style {
		color:rgb(1, 165, 253);
		text-align: right;
		font-size: 15px;
		font-family: Arial, Helvetica, sans-serif;
		margin-top: 0;
		line-height: 1.5;
	}
	.title-style {
		color:rgb(0, 174, 255);
		text-align: right;
		font-size: 18px;
		font-family: Arial, Helvetica, sans-serif;
		font: lighter;
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1.5;
	}


	.p-title-style {
		font-size: 40px;
		font-family: Arial, Helvetica, sans-serif;
		border-bottom: 5px solid;
		line-height: 1.5;
	}


	@media screen {
		body {display: auto;}
		
	}